.slider {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;

  &-wrapper {
    width: 100%;
    overflow: hidden;
  }

  &-inner {
    transform: translateX(calc(-100% / 3));
    width: 300%;
    display: flex;
    gap: 0.5px
  }
}
